In [2]:
list1 = list(range(1,11))
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#creating another list with even elements of list 1
list1= list(range(1,11))
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [7]:
#list comprehension
list3 = [i for i in list1 if i%2==0]
print(list3)

[2, 4, 6, 8, 10]

In [12]:
#input : "hello 12345"
#putput : ['1','2','3','4','5']
list4=input("enter the string")
list5=[i for i in list4 if i.isdigit()]
print(list5,len(list5))

enter the stringhello123456
['1', '2', '3', '4', '5', '6'] 6

In [18]:
list6=list(range(1,11))
list7=list(range(11,21))
list8= [list6[i]+list7[i] for i in range(len(list6))]
list8

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [21]:
#zip
list8=[x+y for x,y in zip(list6,list7)]
print(list8)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Anonymous Functions(Lambda)
```lambda arguments : logic```

In [29]:
s = lambda x : x**2

In [30]:
s (12)

144

In [37]:
add = lambda x,y:x+y
add(10,20)

30

### map()
    ```map(fucntion_name,iterable object)```

In [39]:
list6 = list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
list8=[i*2 for i in list6]
print(list8)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
list8= list(map(lambda i : i*2,list6))
list8

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
"10 20 30".split()

['10', '20', '30']

In [49]:
list(map(int,input().split()))

10 20 30 40 50 60 70 80 90

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [51]:
#unpacking
x,y,z=list(map(int,input("enter the input").split()))
print(x,y,z)

enter the input10 20 30
10 20 30

### filter()

In [52]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
list8=[i for i in list6 if i%5==0]
list8

[5, 10]

In [57]:
list(filter(lambda x: (x%5==0),list6))

[5, 10]

### reduce()

In [61]:
from functools import reduce

In [63]:
#traditional method
list1=[1,2,3,4,5]

m=1
for i in list1:
    m=m*i
print(m)

120

In [64]:
reduce(lambda x,y:x*y,list1)

120