In [6]:
import pandas as pd # TO load the data
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

#### Logic
- communication skill >=7

In [8]:
placement_data["Communication"] >=7

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [11]:
st=[211,6]
def placement_check(st):
    if st[1]>=7:
        return "Yes"
    else:
        return "NO"

In [12]:
placement_check(st)

'NO'

#### Machine learning

# Algorithm,Model
- Decision Tree Classifier
- Avialble DTC

#### Decision tree classifier
- fit(features,target)/fit(inputs,outputs)
    - Communication
    - Placed
    features 2d array
    places 1d array
- predict

In [ ]:
### Get communication column as 2d array

In [13]:
placement_data['Communication'].shape

(5,)

In [14]:
placement_data[['Communication',"Placed"]]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [15]:
placement_data[['Communication']]

0    7
1    6
2    5
3    8
4    9
Name: Communication, dtype: int64

In [29]:
import sklearn
from sklearn.tree import DecisionTreeClassifier # importing DTC
dtc=DecisionTreeClassifier()
# training the model
dtc.fit(placement_data[['Communication']],placement_data["Placed"])
# after the above line we will get the trained model in dtc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [21]:
dtc.predict(placement_data[['Communication']])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [22]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [23]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [27]:
dtc.predict([[8],[6.5],[7.5]])

array(['Yes', 'No', 'Yes'], dtype=object)

### Labeled and Unlabeled data
- if we dont know the output of the data it is unlabeled data
- if we know the output of the data it is labeled data

In [30]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [31]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [35]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
#training the model
lr.fit(marks_data2.iloc[:,1:3],marks_data2["Marks"])
# After this cell the model is trained

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### y = m1*1+m2*2+c

In [36]:
lr.coef_

array([2.5, 2. ])

In [37]:
lr.intercept_#c

10.000000000000007

In [39]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [40]:
marks_data2["Marks"]

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64